#wff-wa-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  z-index: 9999;
}

#wff-wa-button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: white;
  border: 2px solid #25d366;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#wff-wa-form {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 350px;
  height: 520px;
  background: white;
  border: 2px solid #25d366;
  border-radius: 16px;
  padding: 20px;
  display: none;
  flex-direction: column;
}

.wff-wa-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#wff-wa-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#wff-wa-form input,
#wff-wa-form textarea,
#wff-wa-form select {
  padding: 10px;
  border: 1px solid #25d366;
  border-radius: 8px;
}

#wff-wa-form button {
  background: #25d366;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.wff-wa-phone {
  display: flex;
  gap: 5px;
}

.wff-wa-phone input[name="numero"] {
  width: 100%;
}